<h1>Khoi's Restaurant Menu</h1>
<div class="btn-group" role="group" aria-label="Basic example">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="menu?sort=name&order=asc"> Name A-Z</a>
    <a class="dropdown-item" href="menu?sort=name&order=desc"> Name Z-A</a>
    <a class="dropdown-item" href="menu?sort=price&order=asc"> Price Low->High</a>
    <a class="dropdown-item" href="menu?sort=price&order=desc"> Price High->Low</a>
    <a class="dropdown-item" href="menu?sort=count_view&order=desc"> Most viewed</a>
  </div>
</div>

<%= form_tag(menu_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Food name" %>
 <button class="btn btn-success-outline" type="submit">Search</button>
 <% if @food_items.blank? %>
  <h6>There are no food item containing the term <%= params[:search] %>.</h6>
<% end %>
<% end %>

	<% @sections.each do |section| %>
	<%= link_to section, menu_path(section:section),class: 'btn btn-primary' %>
	<% end %>
</div>
<% @food_items.in_groups_of(3) do |group| %>
	<div class ="row">
		<% group.compact.each do |food_item| %>
		<div class = "col-sm-4">
		
			<div class="card">
 				<%= image_tag food_item.img_url_or_default , alt: food_item.name , class: "image_food" %> 

  			<div class="card-block">
    			<b><h4 class="card-title"><%= food_item.name%></b>
    				<b><h6>Total Ordered:</h6><b>
    				<span class="label label-default"><%= food_item.orders.count %></span>
    			</h4>
    			<p class="card-text"><%= food_item.description%>.</p>
  			</div>
  <div class="card-block">
    <a link to new_food_item_order_path , class="card-link btn btn-warning">Order</a>
    <a link to food_item_path , class="card-link btn btn-primary">Details></a><br></br>
    Total viewed: <%= food_item.count_view %>
  </div>
</div>
</div>
	<% end %>
</div>
<% end %>